
.statusGreen {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #70A83B;
}
.statusGray {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A1A1A1;
}
.statusBlue {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #76AADB;
}
.statusRed {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F76545;
}
.statusLightBlue {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #76AADB;
}

.statusPurple {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A974BC;
}
.statusBrown {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9B897B;
}
.statusYellow {
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 60px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7C545;
}

.statusName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #212121;
    text-transform: capitalize;

}